@page "/"

<PageTitle>BMC Scorecards</PageTitle>

<h1>BMC Tuesday Matchplay Scorecards</h1>

<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink href="scorecards/1">Week 1</NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="scorecards/2">Week 2</NavLink>
    </div>
</nav>

