@page "/Playoffs"

<PageTitle>BMC Tuesday - Playoff Bracket</PageTitle>

<div style="width:96px"><BMCLogo /></div>
<h1>Tuesday Matchplay - Playoff Bracket</h1>
<div class="card">
  <div class="card-body">
    <iframe src="https://brackethq.com/b/iezlb/embed/" width="100%" height="750" frameborder="0"></iframe>
  </div>
</div>
