@inject HttpClient Http
@using BlazorApp.Shared

@if (loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
    <tbody>
        @foreach (var image in images)
            {
                <tr>
                    <td>@image.Filename</td>
                    <td><img width="800" src="@image.ShareLinkWebUrl" alt="scorecard image" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool loading = true;

    [Parameter]
    public int? WeekId { get; set; }

    Scorecard[] images = new Scorecard[] { };

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            images = await Http.GetFromJsonAsync<Scorecard[]>($"/api/getScorecards/{WeekId}") ?? new Scorecard[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
        finally
        {
            loading = false;
        }
    }

}
